//<МИКСИНЫ>===============================================================================================
@import "mixins/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "fonts.scss";
//</Подключаем шрифты>=======================================================================================

//<Шрифты по умолчанию>==========================================================================================
$font: "Roboto";
//</Шрифты по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1150;
$md1: 15;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================================================================================

//<ОБОЛОЧКА>============================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $mw + px;
  margin: 0 auto;
  padding: 0 $md1 + px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<Title>=================================================================================================================
.title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}
//</Title>=================================================================================================================

//<ПОДКЛЮЧЕНИЕ HEADER>=====================================================================================================
@import "header.scss";
//</ПОДКЛЮЧЕНИЕ HEADER>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
/* Direction */
.direction {
  padding: 100px 0;
  // .direction__inner
  &__inner {
    @include grid(4, 1, 32);
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-gap: 32px;
  }
  // .direction__item
  &__item {
  }
  // .direction__img
  &__img {
  }
  // .direction__text
  &__text {
    font-size: 16px;
    border: 1px solid #d9d9de;
    border-top: none;
    padding: 12px 19px 19px;
  }
}

//==========================================================================================================
/* Travel-info */
.travel-info {
  background-image: url("../img/travel-info-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 32px 0 51px;
  // .travel-info__title
  &__title {
    color: #ffffff;
    margin-bottom: 52px;
  }
  // .travel-info__items
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 67px 56px;
  }
  // .travel-info__item
  &__item {
  }
  // .travel-info__img
  &__img {
    margin-bottom: 15px;
  }
  // .travel-info__text
  &__text {
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    max-width: 232px;
  }
}

//==========================================================================================================
/* Popular */
.popular {
  padding: 100px 0;
  // .popular__title
  &__title {
    font-weight: 700;
    margin-bottom: 40px;
  }
  // .popular__items
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
    padding-bottom: 82px;
    border-bottom: 1px solid #D9D9DE;
  }
  // .popular__link
  &__link {
    padding: 16px 24px 19px;
    color: #ffffff;
    @include flexbetween();
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    min-height: 256px;
    line-height: 130%;
    &:nth-child(3), &:nth-child(6) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
  // .popular__link-title
  &__link-title {
    font-weight: 500;
    margin-bottom: 15px;
  }
  // .popular__link-title--big
  &__link-title--big {
    font-size: 24px;
  }
  // .popular__price
  &__price {
    font-weight: 700;
    font-size: 16px;
    margin-top: auto;
  }
  // .popular__country
  // .popular__time
  &__country, &__time {
    margin-bottom: 15px;
  }

}

//==========================================================================================================
/* Map */
.map {
  padding-bottom: 100px;
  // .map__title
  &__title {
    margin-bottom: 46px;
  }
  // .map__iframe
  &__iframe {
  }
}

//==========================================================================================================
/* About */
.about {
  padding-bottom: 100px;
  // .about__inner
  &__inner {
    @include flexbetween();
    // display: grid;
    // grid-template-columns: 448px 640px;
    // grid-gap: 32px;
  }
  // .about__content
  &__content {
    max-width: 450px;
  }
  // .about__title
  &__title {
    text-align: left;
    margin-bottom: 25px;
  }
  // .about__text
  &__text {
    margin-bottom: 34px;
  }
  // .about__link
  &__link {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #C4C4C4;
  }
  // .about__popup
  &__popup {
    max-width: 640px;
    width: 100%;
    background-image: url('../img/video-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    @include flexcenter();
  }
  // .about__link-img
  &__link-img {
  }
}
.popup {
  // .popup__link
  &__link {
  }
}

//==========================================================================================================
/* Gallery */
.gallery {
  padding: 50px 0 105px;
  background-color: #886239;
  // .gallery__top
  &__top {
    @include flexbetween();
    align-items: center;
    margin-bottom: 39px;
    padding-right: 159px;
  }
  // .gallery__title
  &__title {
    color: #ffffff;
  }
  // .gallery__link
  &__link {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #ffffff;
  }
  // .gallery__slider
  &__slider {
  }
  // .gallery__item
  &__item {
  }
  // .gallery__item-inner
  &__item-inner {
    @include grid(3,1,32);
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-gap: 32px;
  }
  // .gallery__item-link
  &__item-link {
  }
  // .gallery__item-img
  &__item-img {
  }
}
.slick-btn {
  background-color: transparent; //убираем белый фон
  border: none;
  cursor: pointer;
  position: absolute;
  top: -85px;
  right: 0;
}
.slick-prev {
  right: 60px;
}
//==========================================================================================================
/* Tour */
.tour {
  padding: 100px 0;
  // .tour__title
  &__title {
    font-weight: 700;
    margin-bottom: 77px;
  }
  // .tour__box
  &__box {
    column-count: 2;
    column-gap: 46px;
    border-bottom: 1px solid #D9D9DE;
    padding-bottom: 50px;
    margin-bottom: 44px;
  }
  // .tour__text
  &__text {
    margin-bottom: 15px;
    span {font-weight: 700;}
  }
  // .tour__info
  &__info {
    @include grid(5,1,70);
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);
    // grid-gap: 70px;
  }
  // .tour__info-item
  &__info-item {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 58px;
    line-height: 60px;
    text-align: center;
    color: #886239;
  }
  // .tour__info-text
  &__info-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #1F1E1E;
  }
}

//==========================================================================================================
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ FOOTER>=====================================================================================================
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ FOOTER>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ, СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================
@import "popup.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ, СТРАНИЦ И ЭЛЕМЕНТОВ>===========================================================

//<ПОДКЛЮЧЕНИЕ MEDIA>=====================================================================================================
@import "media.scss";
//</ПОДКЛЮЧЕНИЕ MEDIA>====================================================================================================
