//<МИКСИНЫ>===============================================================================================
@import "mixins/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "fonts.scss";
//</Подключаем шрифты>=======================================================================================

//<Шрифты по умолчанию>==========================================================================================
$font: "Roboto";
//</Шрифты по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1150;
$md1: 15;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $mw + px;
  margin: 0 auto;
  padding: 0 $md1 + px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ HEADER>=====================================================================================================
@import "header.scss";
//</ПОДКЛЮЧЕНИЕ HEADER>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
/* Direction */
.direction {
  padding: 100px 0;
  // .direction__inner
  &__inner {
    @include grid(4, 1, 32, 32);
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-gap: 32px;
  }
  // .direction__item
  &__item {
  }
  // .direction__img
  &__img {
  }
  // .direction__text
  &__text {
    font-size: 16px;
    border: 1px solid #d9d9de;
    border-top: none;
    padding: 12px 19px 19px;
  }
}

//==========================================================================================================
/* Travel-info */
.travel-info {
  background-image: url("../img/travel-info-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 32px 0 51px;
  // .travel-info__title
  &__title {
    color: #ffffff;
    margin-bottom: 52px;
  }
  // .travel-info__items
  &__items {
    @include grid(4, 1, 67, 56);
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-gap: 67px 56px;
  }
  // .travel-info__item
  &__item {
  }
  // .travel-info__img
  &__img {
    margin-bottom: 15px;
  }
  // .travel-info__text
  &__text {
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
    max-width: 232px;
  }
}

//==========================================================================================================
/* Popular */
.popular {
  padding: 100px 0;
  // .popular__title
  &__title {
    font-weight: 700;
    margin-bottom: 40px;
  }
  // .popular__items
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
    padding-bottom: 82px;
    border-bottom: 1px solid #D9D9DE;
  }
  // .popular__link
  &__link {
    padding: 16px 24px 19px;
    color: #ffffff;
    @include flexbetween();
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    min-height: 256px;
    line-height: 130%;
    &:nth-child(3), &:nth-child(6) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
  // .popular__link-title
  &__link-title {
    font-weight: 500;
    margin-bottom: 15px;
  }
  // .popular__link-title--big
  &__link-title--big {
    font-size: 24px;
  }
  // .popular__price
  &__price {
    font-weight: 700;
    font-size: 16px;
    margin-top: auto;
  }
  // .popular__country
  // .popular__time
  &__country, &__time {
    margin-bottom: 15px;
  }

}

//==========================================================================================================
/* Map */
.map {
  padding-bottom: 100px;
  // .map__title
  &__title {
    margin-bottom: 46px;
  }
  // .map__iframe
  &__iframe {
  }
}

//==========================================================================================================
/* About */
.about {
  padding-bottom: 100px;
  // .about__inner
  &__inner {
    @include flexbetween();
    // display: grid;
    // grid-template-columns: 448px 640px;
    // grid-gap: 32px;
  }
  // .about__content
  &__content {
    max-width: 450px;
  }
  // .about__title
  &__title {
    text-align: left;
    margin-bottom: 25px;
  }
  // .about__text
  &__text {
    margin-bottom: 34px;
  }
  // .about__link
  &__link {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #C4C4C4;
  }
  // .about__popup
  &__popup {
    max-width: 640px;
    width: 100%;
    background-image: url('../img/video-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    @include flexcenter();
  }
  // .about__link-img
  &__link-img {
  }
}
.popup {
  // .popup__link
  &__link {
  }
}

//==========================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ FOOTER>=====================================================================================================
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ FOOTER>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ, СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================
@import "popup.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ, СТРАНИЦ И ЭЛЕМЕНТОВ>===========================================================

//<ПОДКЛЮЧЕНИЕ MEDIA>=====================================================================================================
@import "media.scss";
//</ПОДКЛЮЧЕНИЕ MEDIA>====================================================================================================
