footer.footer
  .container
    .footer__logo
      |
      |
      a.logo(href="#")
        img.logo__img(src="img/logo.svg" alt="")
      .footer__box
        .footer__info
          p.footer__box-title Турагентство «Сафари Туристик»
          p.footer__copy &copy; 2021. Все права защищены
          a.footer__link(href="#") Политика конфиденциальности
        .footer__adress
          p.footer__box-title Адрес:
          p.footer__adress-text г.Киев, ул.Мира, 20, отель «Динамо», 1 этаж
        .footer__contacts
          p.footer__box-title Заказ туров и бронирование:
            a.footer__phone(href="tel:80508543543") тел. 8-050-8-543-543
            a.footer__mail(href="mailto:safari_turistic@gmail.com") e-mail: safari_turistic@gmail.com