extends layout/main

block variables
	-var title = 'Safari'

block content
	.direction
		.container
			.direction__inner
				.direction__item
					img.direction__img(src="img/direction-1.jpg" alt="")
					p.direction__text Намибия
				.direction__item
					img.direction__img(src="img/direction-2.jpg" alt="")
					p.direction__text Танзания
				.direction__item
					img.direction__img(src="img/direction-3.jpg" alt="")
					p.direction__text Кения
				.direction__item
					img.direction__img(src="img/direction-4.jpg" alt="")
					p.direction__text Ботсвана
				.direction__item
					img.direction__img(src="img/direction-5.jpg" alt="")
					p.direction__text Кейптаун
				.direction__item
					img.direction__img(src="img/direction-6.jpg" alt="")
					p.direction__text Мадагаскар
				.direction__item
					img.direction__img(src="img/direction-7.jpg" alt="")
					p.direction__text Занзибар
				.direction__item
					img.direction__img(src="img/direction-8.jpg" alt="")
					p.direction__text ЮАР
				.direction__item
					img.direction__img(src="img/direction-9.jpg" alt="")
					p.direction__text Мозамбик
				.direction__item
					img.direction__img(src="img/direction-10.jpg" alt="")
					p.direction__text Замбия
				.direction__item
					img.direction__img(src="img/direction-11.jpg" alt="")
					p.direction__text Конго
	section.travel-info
		.container
			h2.travel-info__title.title Основные направления
			.travel-info__items
				.travel-info__item
					img.travel-info__img(src="img/icons/icon-1.svg" alt="")
					p.travel-info__text Полная организация отдыха: групповые и индивидуальные туры.
				.travel-info__item
					img.travel-info__img(src="img/icons/icon-2.svg" alt="")
					p.travel-info__text Организация трансфера из любой точки мира
				.travel-info__item
					img.travel-info__img(src="img/icons/icon-3.svg" alt="")
					p.travel-info__text Проживание в отелях по маршруту
				.travel-info__item
					img.travel-info__img(src="img/icons/icon-4.svg" alt="")
					p.travel-info__text Аренда автомобилей и любого вида транспорта
				.travel-info__item
					img.travel-info__img(src="img/icons/icon-5.svg" alt="")
					p.travel-info__text Медицинская страховка
				.travel-info__item
					img.travel-info__img(src="img/icons/icon-6.svg" alt="")
					p.travel-info__text Сопровождение русскоговорящих гидов
				.travel-info__item
					img.travel-info__img(src="img/icons/icon-7.svg" alt="")
					p.travel-info__text Организация VIP-туров
	section.popular
		.container
			h2.popular__title.title Популярные предложения
			.popular__items
				a.popular__link(href="#")(style="background-image: url('img/popular-1.jpg');")
					h3.popular__link-title ПУТЕШЕСТВИЕ ПО НАМИБИИ
					p.popular__price от 3000 $
				a.popular__link(href="#")(style="background-image: url('img/popular-2.jpg');")
					h3.popular__link-title КЛАССИКА КЕНИИ
					p.popular__price от 3500 $
				a.popular__link(href="#")(style="background-image: url('img/popular-3.jpg');")
					h3.popular__link-title.link-title--big 
						| САМЫЕ ПОПУЛЯРНЫЕ САФАРИ ПАРКИ И ЗАПОВЕДНИКИ ТАНЗАНИИ
					p.popular__country Танзания
					p.popular__time 7 дней / 6 ночей
					p.popular__price от 1700 $
				a.popular__link(href="#")(style="background-image: url('img/popular-4.jpg');")
					h3.popular__link-title ИССЛЕДОВАНИЕ БОТСВАНЫ
					p.popular__price от 2500 $
				a.popular__link(href="#")(style="background-image: url('img/popular-5.jpg');")
					h3.popular__link-title ПУТЕШЕСТВИЕ ЧЕРЕЗ 5 СТРАН ЮЖНОЙ АФРИКИ
					p.popular__price от 5000 $
				a.popular__link(href="#")(style="background-image: url('img/popular-6.jpg');")
					h3.popular__link-title.link-title--big 
						| ГРАНДИОЗНОЕ ПРИКЛЮЧЕНИЕ ПО 9 СТРАНАМ АФРИКИ
					p.popular__country ЮАР, Замбия, Намибия, Зимбабве, Ботсвана, Мозамбик, Танзания, Кения
					p.popular__time 24 дня / 23 ночи
					p.popular__price от 6000 $
				a.popular__link(href="#")(style="background-image: url('img/popular-7.jpg');")
					h3.popular__link-title ВЕЛИКОЛЕПНЫЙ КЕЙПТАУН
					p.popular__price от 3500 $
				a.popular__link(href="#")(style="background-image: url('img/popular-8.jpg');")
					h3.popular__link-title ПУТЕШЕСТВИЕ ПО ЮАР 
					p.popular__price от 2500 $
				a.popular__link(href="#")(style="background-image: url('img/popular-9.jpg');")
					h3.popular__link-title ВЕЛИКАЯ МИГРАЦИЯ В ТАНЗАНИИ И ОТДЫХ НА ЗАНЗИБАРЕ
					p.popular__price от 1700 $
				a.popular__link(href="#")(style="background-image: url('img/popular-10.jpg');")
					h3.popular__link-title ОТ КЕЙПТАУНА ДО ВОДОПАДА ВИКТОРИЯ
					p.popular__price от 2500 $
	section.map
		.container
			h2.map__title.title Карта Африки
			|
			iframe.map__iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33532317.108234115!2d17.73323465983178!3d-0.07491296757762397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1979facf9a7546bd%3A0x4c63e5eac93f141!2z0JTQtdC80L7QutGA0LDRgtC40YfQtdGB0LrQsNGPINCg0LXRgdC_0YPQsdC70LjQutCwINCa0L7QvdCz0L4!5e1!3m2!1sru!2sby!4v1637356919462!5m2!1sru!2sby" width="1120" height="609" style="border:0;" allowfullscreen="" loading="lazy")
	section.about
		.container
			.about__inner
				.about__content
					h2.about__title.title О сафари турах
					p.about__text 
						| Восточная и Южная Африка являются самыми популярными местами, где можно насладиться увлекательным путешествием, под названием сафари. Именно здесь созданы все условия, чтобы туристы могли почувствовать себя частичкой девственной природы Африки. Туры сафари в Африку характеризуются уникальными программами, в рамках которых туристы перемещаются на комфортабельных, специализированных автомобилях или автобусах.
					.about__link Читать подробней
				.about__popup
					|
					|
					a.popup__link(href="https://www.youtube.com/watch?v=7eAG_458Hj0")
						img.about__link-img(src="img/popup.svg", alt="")
	section.gallery
		.container
			.gallery__top
				h2.gallery__title.title Фотогалерея
				|
				|
				a.gallery__link(href="#") Перейти в раздел
			.gallery__slider
				.gallery__item
					.gallery__item-inner
						a.gallery__item-link(href="img/gallery-1.jpg")
							img.gallery__item-img(src="img/gallery-1.jpg", alt="")
						a.gallery__item-link(href="img/gallery-2.jpg")
							img.gallery__item-img(src="img/gallery-2.jpg", alt="")
						a.gallery__item-link(href="img/gallery-3.jpg")
							img.gallery__item-img(src="img/gallery-3.jpg", alt="")
						a.gallery__item-link(href="img/gallery-4.jpg")
							img.gallery__item-img(src="img/gallery-4.jpg", alt="")
						a.gallery__item-link(href="img/gallery-5.jpg")
							img.gallery__item-img(src="img/gallery-5.jpg", alt="")
						a.gallery__item-link(href="img/gallery-6.jpg")
							img.gallery__item-img(src="img/gallery-6.jpg", alt="")
				.gallery__item
					.gallery__item-inner
						a.gallery__item-link(href="img/gallery-1.jpg")
							img.gallery__item-img(src="img/gallery-1.jpg", alt="")
						a.gallery__item-link(href="img/gallery-2.jpg")
							img.gallery__item-img(src="img/gallery-2.jpg", alt="")
						a.gallery__item-link(href="img/gallery-3.jpg")
							img.gallery__item-img(src="img/gallery-3.jpg", alt="")
						a.gallery__item-link(href="img/gallery-4.jpg")
							img.gallery__item-img(src="img/gallery-4.jpg", alt="")
						a.gallery__item-link(href="img/gallery-5.jpg")
							img.gallery__item-img(src="img/gallery-5.jpg", alt="")
						a.gallery__item-link(href="img/gallery-6.jpg")
							img.gallery__item-img(src="img/gallery-6.jpg", alt="")
	section.tour
		.container
			h2.tour__title.title Сафари тур премиум класса
			.tour__box
				p.tour__text.
					Сафари тур - это уникальное путешествие в мир дикой природы, знакомство с многогранной Африкой, наблюдение за дикими животными в их привычной среде обитания.
				p.tour__text.
					<span>САФАРИ ТУРИСТИК</span> специализируется на элитном туризме и представляет своим клиентам уникальные программы сафари туров.Среди представленных вариантов можно найти нечто неповторимое, по вашему вкусу.
				p.tour__text.
					Если вы желаете отправиться в самое незабываемое путешествие в вашей жизни, побывать в уникальных местах и увидеть то, что удается лицезреть немногим ? тогда сафари туры созданы для вас.
				p.tour__text.
					Сафари туры выбирают туристы, которые предпочитают динамичный, яркий, насыщенный эмоциями и впечатлениями отдых.   
					Программы сафари туров по Африке рассчитаны на определенную группу людей, которые под покровительством куратора, осуществляют увлекательное путешествие по заранее спланированному маршруту. Мы ориентированы на клиентов VIP класса, поэтому все предложения, представленные в нашей коллекции, отличаются высшим классом, детально продуманной программой, первоклассным сервисом и индивидуальным подходом к каждому участнику путешествия. У нас на сайте вы можете прочитать все подробности о программах уже сформированных туров по сафари.
			.tour__info
				.tour__info-item 16
					.tour__info-text лет успешной работы
				.tour__info-item 50
					.tour__info-text гостиниц без посредников
				.tour__info-item 25+
					.tour__info-text собственных туров
				.tour__info-item 1220000
					.tour__info-text кв. км – площадь наших путешествий
				.tour__info-item 5000
					.tour__info-text довольных туристов
	section.booking
		.container
			h2.booking__title.title Забронируйте отдых в Африке
			form.booking__form
				input.booking__input(type="text" placeholder="Ваше имя")
				input.booking__input(type="tel" placeholder="Телефон")
				input.booking__input(type="email" placeholder="E-mail")
				textarea.booking__area(placeholder="Комментарий")
				button.booking__btn(type="submit") Отправить заявку
				label.booking__label
					input.booking__checkbox(type="checkbox")
					|
					| Согласие на обработку персональных данных